@import 'tailwindcss';

@font-face {
    font-family: 'Balonku';
    src: url('../fonts/Balonku.otf');
}

@font-face {
    font-family: 'Londrina';
    src: url('../fonts/Londrina.ttf');
}

:root {
    --accent: #FC0303;
    --background: #EEE6FC;
    --dark-primary: #512DA8;
    --dark-secondary: #371F6E;
    --divider: #BDBDBD;
    --light-primary: #D0C3E8;
    --primary: #683BB8;
    --primary-text: #FD80FF;
    --secondary: #4D2D8C;
    --secondary-text: #FCD200;
}

@theme {
    --color-accent: var(--accent);
    --color-background: var(--background);
    --color-dark-primary: var(--dark-primary);
    --color-dark-secondary: var(--dark-primary);
    --color-divider: var(--divider);
    --color-light-primary: var(--light-primary);
    --color-primary: var(--primary);
    --color-primary-text: var(--primary-text);
    --color-secondary: var(--secondary);
    --color-secondary-text: var(--secondary-text);
}

.primary-text {
    color: var(--primary-text);
    font-family: 'Balonku', serif;
}

.secondary-text {
    color: var(--secondary-text);
    font-family: 'Londrina', serif;
}
